In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
df = pd.read_csv("C:\\Users\\DrdrA\\OneDrive\\Desktop\\UNI\\M2\\Ca\\projet\\train_ML_IOT.csv")
df.describe()

           Junction      Vehicles            ID
count  48120.000000  48120.000000  4.812000e+04
mean       2.180549     22.791334  2.016330e+10
std        0.966955     20.750063  5.944854e+06
min        1.000000      1.000000  2.015110e+10
25%        1.000000      9.000000  2.016042e+10
50%        2.000000     15.000000  2.016093e+10
75%        3.000000     29.000000  2.017023e+10
max        4.000000    180.000000  2.017063e+10

In [7]:
# Pretraitment

#Etape1: Cleaning data
#finding out missing values
missing_values = df.isnull().sum()
print(missing_values)

DateTime    0
Junction    0
Vehicles    0
ID          0
dtype: int64

In [9]:
#normilizing Vehicles column
min_value = df['Vehicles'].min()
max_value = df['Vehicles'].max()

df['Normalized_Vehicles'] = (df['Vehicles'] - min_value) / (max_value - min_value)

print(df['Normalized_Vehicles'])

0        0.078212
1        0.067039
2        0.050279
3        0.033520
4        0.044693
           ...
48115    0.055866
48116    0.162011
48117    0.083799
48118    0.117318
48119    0.061453
Name: Normalized_Vehicles, Length: 48120, dtype: float64

In [14]:
#Etape 3: transofmation
df['DateTime'] = pd.to_datetime(df['DateTime'])

#1 = dimanche, 2= 6 = samedi
df['Day_of_week'] = df['DateTime'].dt.dayofweek

sunday_offset = 6 - 0

df['Is_weekend'] = df['Day_of_week'].isin([(sunday_offset - 2) % 7, (sunday_offset - 1) % 7])

weekend_data = df[df['Is_weekend']]
print(weekend_data)

                 DateTime  Junction  Vehicles           ID  \
120   2015-11-06 00:00:00         1        16  20151106001
121   2015-11-06 01:00:00         1        18  20151106011
122   2015-11-06 02:00:00         1        19  20151106021
123   2015-11-06 03:00:00         1        14  20151106031
124   2015-11-06 04:00:00         1        12  20151106041
...                   ...       ...       ...          ...
48115 2017-06-30 19:00:00         4        11  20170630194
48116 2017-06-30 20:00:00         4        30  20170630204
48117 2017-06-30 21:00:00         4        16  20170630214
48118 2017-06-30 22:00:00         4        22  20170630224
48119 2017-06-30 23:00:00         4        12  20170630234

       Normalized_Vehicles  Day_of_week  Is_weekend
120               0.083799            4        True
121               0.094972            4        True
122               0.100559            4        True
123               0.072626            4        True
124               0.061453            4        True
...                    ...          ...         ...
48115             0.055866            4        True
48116             0.162011            4        True
48117             0.083799            4        True
48118             0.117318            4        True
48119             0.061453            4        True

[13680 rows x 7 columns]

In [ ]:
#extraction des tendances